<mat-card>
    <mat-card-title>
      Exchange Rate Selector
    </mat-card-title>
    <mat-card-content >
        <!-- <div *ngFor="let item of rates | keyvalue">
            {{item.key}}:{{item.value}}
        </div> -->

        <mat-form-field >
          <mat-select  placeholder="Base Currency" [(value)]="baseCurrency">
             <mat-option *ngFor="let rate of rates | keyvalue" [value]="rate.key"
             (click)="onBaseSelect(rate)">
              {{rate.key}}
            </mat-option> 
          </mat-select>
        </mat-form-field>
        <br>  
        <mat-form-field>
            <mat-select  placeholder="New Currency" [(value)]="newCurrency">
                <mat-option *ngFor="let rate of rates | keyvalue" [value]="rate"
                (click)="onNewSelect(rate)">
                 {{rate.key}}
               </mat-option> 
             </mat-select>
        </mat-form-field>
        <br>
        
        <h4 *ngIf="newCurrency">ExchangeRate: {{ newCurrency.value }}</h4>
        
        <p></p>
      </mat-card-content>  

</mat-card>