<mat-card>
    <mat-card-title>
      Exchange Rate Selector
    </mat-card-title>
    <mat-card-content >
        <mat-form-field >
          <mat-select  placeholder="Current Currency" [(value)]="baseCurrency">
             <mat-option *ngFor="let rate of rates | keyvalue" [value]="rate.key"
             (click)="onBaseSelect(rate.key)">
              {{rate.key}}
            </mat-option> 
          </mat-select>
        </mat-form-field>
        <br>  
        <mat-form-field>
            <mat-select  placeholder="New Currency" [(value)]="newCurrency">
                <mat-option *ngFor="let rate of rates | keyvalue" [value]="rate.key"
                (click)="onNewSelect(rate.key)">
                 {{rate.key}}
               </mat-option> 
             </mat-select>
        </mat-form-field>
        <br>
        
        <span *ngIf="newCurrency">
          <strong>ExchangeRate</strong> {{rates[newCurrency]}}
        </span>
        
        <p></p>
      </mat-card-content>  

</mat-card>